@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 0 0% 100%;
  --foreground: 0 0% 8.6%;
  --card: 0 0% 100%;
  --card-foreground: 0 0% 8.6%;
  --popover: 0 0% 100%;
  --popover-foreground: 0 0% 8.6%;
  --primary: 0 0% 13%;
  --primary-foreground: 0 0% 98.5%;
  --secondary: 0 0% 97.3%;
  --secondary-foreground: 0 0% 13%;
  --muted: 0 0% 97.3%;
  --muted-foreground: 0 0% 33.5%;
  --accent: 0 0% 97.3%;
  --accent-foreground: 0 0% 13%;
  --destructive: 0 84.2% 60.2%;
  --destructive-foreground: 0 0% 98.5%;
  --border: 0 0% 57.3%;
  --input: 0 0% 57.3%;
  --ring: 0 0% 44.3%;
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --radius: 0.625rem;
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: 0 0% 8.5%;
  --foreground: 0 0% 99%;
  --card: 0 0% 6.3%;
  --card-foreground: 0 0% 99%;
  --popover: 0 0% 8.5%;
  --popover-foreground: 0 0% 99%;
  --primary: 0 0% 99%;
  --primary-foreground: 0 0% 13%;
  --secondary: 0 0% 15%;
  --secondary-foreground: 0 0% 99%;
  --muted: 0 0% 15%;
  --muted-foreground: 0 0% 44%;
  --accent: 0 0% 15%;
  --accent-foreground: 0 0% 99%;
  --destructive: 0 71.6% 50.6%;
  --destructive-foreground: 0 84.2% 60.2%;
  --border: 0 0% 15%;
  --input: 0 0% 15%;
  --ring: 0 0% 27%;
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(0.269 0 0);
  --sidebar-ring: oklch(0.439 0 0);
}

@layer base {
  * {
    border-color: var(--border);
    outline-color: var(--ring);
    outline-width: 0.5px;
  }
  body {
    background-color: var(--background);
    color: var(--foreground);
  }
}
